/* $colour-primary: #15DEA5;
$colour-secondary: #001534;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25; */

$colour-esa: #003247;
$colour-white: white;
$colour-black: #0000;
$font-header-titre:22px;
$font-header-texte:17px;
$font-sidebar:17px;
$font-main-titre:17px;
$font-main-texte:15px;
$font-hover: 1.8em;
$font-card:1.5em;
$font-table:2em;
$font-table-little:1.2em;
$box-shadow: 2px 2px 5px -4px #FFFFFF,
-2px -2px 5px -4px #FFFFFF;
$box-shadow-hover: 3px 3px 10px -4px #FFFFFF,
-3px -3px 10px -4px #FFFFFF;
$aside-width:200px;
$aside-width-close:80px;
//taches
#pr1ch1tc1,
#pr1ch1tc1[data-dispplay="1"] {
    background-color: $colour-white;
}

#pr1ch1tc2 {
    background-color: greenyellow;
}

#pr1ch1tc3 {
    background-color: $colour-white;
}

#pr1ch1tc4 {
    background-color: greenyellow;
}

#pr1ch1tc5 {
    background-color: greenyellow;
}

#pr1ch1tc6 {
    background-color: $colour-white;
}

#pr1ch1tc7 {
    background-color: greenyellow;
}

#pr1ch1tc8 {
    background-color: $colour-white;
}

#pr1ch2tc1,
#pr1ch2tc1[data-dispplay="1"] {
    background-color: greenyellow;
}

#pr1ch2tc2 {
    background-color: greenyellow;
}

#pr1ch2tc3 {
    background-color: $colour-white;
}

#pr1ch2tc4 {
    background-color: $colour-white;
}

#pr1ch2tc5 {
    background-color: greenyellow;
}

#pr1ch2tc6 {
    background-color: $colour-white;
}

#pr1ch2tc7 {
    background-color: greenyellow;
}

#pr1ch2tc8 {
    background-color: greenyellow;
}

#pr1ch2tc9 {
    background-color: $colour-white;
}

#pr1ch2tc10 {
    background-color: greenyellow;
}