/* .aside{
    grid-column: span 1;
    padding:20px;
    background-color: #edb88b;
    font-size: 22px;
    color: #333;
    & p{
        height:750px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
} */